.dimNav {
    opacity: 80%;
    margin-bottom: 10vh;
}

.margenIzq {
    margin-left: 15vh;
}

.brand {
    position: relative;
    scale: 1;
}
.brand:hover {
    color: orange;
}

.videosNav {
    max-height: 140px;
}

.videosNav:hover {
    color: orange;
}
